{
  "info": {
    "title": "PHP-CRUD-API",
    "version": "1.0.0"
  },
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://owncloud.mikespub.net/bermuda/php-crud-api.php"
    }
  ],
  "paths": {
    "/records/xar_block_instances": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/include"
          },
          {
            "$ref": "#/components/parameters/exclude"
          },
          {
            "$ref": "#/components/parameters/order"
          },
          {
            "$ref": "#/components/parameters/size"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/join"
          }
        ],
        "tags": [
          "xar_block_instances"
        ],
        "operationId": "list_xar_block_instances",
        "description": "list xar_block_instances",
        "responses": {
          "200": {
            "$ref": "#/components/responses/list-xar_block_instances"
          }
        }
      },
      "post": {
        "requestBody": {
          "$ref": "#/components/requestBodies/create-xar_block_instances"
        },
        "tags": [
          "xar_block_instances"
        ],
        "operationId": "create_xar_block_instances",
        "description": "create xar_block_instances",
        "responses": {
          "200": {
            "$ref": "#/components/responses/pk_integer"
          }
        }
      }
    },
    "/records/xar_block_instances/{id}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          },
          {
            "$ref": "#/components/parameters/include"
          },
          {
            "$ref": "#/components/parameters/exclude"
          },
          {
            "$ref": "#/components/parameters/join"
          }
        ],
        "tags": [
          "xar_block_instances"
        ],
        "operationId": "read_xar_block_instances",
        "description": "read xar_block_instances",
        "responses": {
          "200": {
            "$ref": "#/components/responses/read-xar_block_instances"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/update-xar_block_instances"
        },
        "tags": [
          "xar_block_instances"
        ],
        "operationId": "update_xar_block_instances",
        "description": "update xar_block_instances",
        "responses": {
          "200": {
            "$ref": "#/components/responses/rows_affected"
          }
        }
      },
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          }
        ],
        "tags": [
          "xar_block_instances"
        ],
        "operationId": "delete_xar_block_instances",
        "description": "delete xar_block_instances",
        "responses": {
          "200": {
            "$ref": "#/components/responses/rows_affected"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/increment-xar_block_instances"
        },
        "tags": [
          "xar_block_instances"
        ],
        "operationId": "increment_xar_block_instances",
        "description": "increment xar_block_instances",
        "responses": {
          "200": {
            "$ref": "#/components/responses/rows_affected"
          }
        }
      }
    },
    "/records/xar_block_types": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/include"
          },
          {
            "$ref": "#/components/parameters/exclude"
          },
          {
            "$ref": "#/components/parameters/order"
          },
          {
            "$ref": "#/components/parameters/size"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/join"
          }
        ],
        "tags": [
          "xar_block_types"
        ],
        "operationId": "list_xar_block_types",
        "description": "list xar_block_types",
        "responses": {
          "200": {
            "$ref": "#/components/responses/list-xar_block_types"
          }
        }
      },
      "post": {
        "requestBody": {
          "$ref": "#/components/requestBodies/create-xar_block_types"
        },
        "tags": [
          "xar_block_types"
        ],
        "operationId": "create_xar_block_types",
        "description": "create xar_block_types",
        "responses": {
          "200": {
            "$ref": "#/components/responses/pk_integer"
          }
        }
      }
    },
    "/records/xar_block_types/{id}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          },
          {
            "$ref": "#/components/parameters/include"
          },
          {
            "$ref": "#/components/parameters/exclude"
          },
          {
            "$ref": "#/components/parameters/join"
          }
        ],
        "tags": [
          "xar_block_types"
        ],
        "operationId": "read_xar_block_types",
        "description": "read xar_block_types",
        "responses": {
          "200": {
            "$ref": "#/components/responses/read-xar_block_types"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/update-xar_block_types"
        },
        "tags": [
          "xar_block_types"
        ],
        "operationId": "update_xar_block_types",
        "description": "update xar_block_types",
        "responses": {
          "200": {
            "$ref": "#/components/responses/rows_affected"
          }
        }
      },
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          }
        ],
        "tags": [
          "xar_block_types"
        ],
        "operationId": "delete_xar_block_types",
        "description": "delete xar_block_types",
        "responses": {
          "200": {
            "$ref": "#/components/responses/rows_affected"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/increment-xar_block_types"
        },
        "tags": [
          "xar_block_types"
        ],
        "operationId": "increment_xar_block_types",
        "description": "increment xar_block_types",
        "responses": {
          "200": {
            "$ref": "#/components/responses/rows_affected"
          }
        }
      }
    },
    "/records/xar_cache_data": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/include"
          },
          {
            "$ref": "#/components/parameters/exclude"
          },
          {
            "$ref": "#/components/parameters/order"
          },
          {
            "$ref": "#/components/parameters/size"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/join"
          }
        ],
        "tags": [
          "xar_cache_data"
        ],
        "operationId": "list_xar_cache_data",
        "description": "list xar_cache_data",
        "responses": {
          "200": {
            "$ref": "#/components/responses/list-xar_cache_data"
          }
        }
      },
      "post": {
        "requestBody": {
          "$ref": "#/components/requestBodies/create-xar_cache_data"
        },
        "tags": [
          "xar_cache_data"
        ],
        "operationId": "create_xar_cache_data",
        "description": "create xar_cache_data",
        "responses": {
          "200": {
            "$ref": "#/components/responses/pk_integer"
          }
        }
      }
    },
    "/records/xar_cache_data/{id}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          },
          {
            "$ref": "#/components/parameters/include"
          },
          {
            "$ref": "#/components/parameters/exclude"
          },
          {
            "$ref": "#/components/parameters/join"
          }
        ],
        "tags": [
          "xar_cache_data"
        ],
        "operationId": "read_xar_cache_data",
        "description": "read xar_cache_data",
        "responses": {
          "200": {
            "$ref": "#/components/responses/read-xar_cache_data"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/update-xar_cache_data"
        },
        "tags": [
          "xar_cache_data"
        ],
        "operationId": "update_xar_cache_data",
        "description": "update xar_cache_data",
        "responses": {
          "200": {
            "$ref": "#/components/responses/rows_affected"
          }
        }
      },
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          }
        ],
        "tags": [
          "xar_cache_data"
        ],
        "operationId": "delete_xar_cache_data",
        "description": "delete xar_cache_data",
        "responses": {
          "200": {
            "$ref": "#/components/responses/rows_affected"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/increment-xar_cache_data"
        },
        "tags": [
          "xar_cache_data"
        ],
        "operationId": "increment_xar_cache_data",
        "description": "increment xar_cache_data",
        "responses": {
          "200": {
            "$ref": "#/components/responses/rows_affected"
          }
        }
      }
    },
    "/records/xar_categories": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/include"
          },
          {
            "$ref": "#/components/parameters/exclude"
          },
          {
            "$ref": "#/components/parameters/order"
          },
          {
            "$ref": "#/components/parameters/size"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/join"
          }
        ],
        "tags": [
          "xar_categories"
        ],
        "operationId": "list_xar_categories",
        "description": "list xar_categories",
        "responses": {
          "200": {
            "$ref": "#/components/responses/list-xar_categories"
          }
        }
      },
      "post": {
        "requestBody": {
          "$ref": "#/components/requestBodies/create-xar_categories"
        },
        "tags": [
          "xar_categories"
        ],
        "operationId": "create_xar_categories",
        "description": "create xar_categories",
        "responses": {
          "200": {
            "$ref": "#/components/responses/pk_integer"
          }
        }
      }
    },
    "/records/xar_categories/{id}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          },
          {
            "$ref": "#/components/parameters/include"
          },
          {
            "$ref": "#/components/parameters/exclude"
          },
          {
            "$ref": "#/components/parameters/join"
          }
        ],
        "tags": [
          "xar_categories"
        ],
        "operationId": "read_xar_categories",
        "description": "read xar_categories",
        "responses": {
          "200": {
            "$ref": "#/components/responses/read-xar_categories"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/update-xar_categories"
        },
        "tags": [
          "xar_categories"
        ],
        "operationId": "update_xar_categories",
        "description": "update xar_categories",
        "responses": {
          "200": {
            "$ref": "#/components/responses/rows_affected"
          }
        }
      },
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          }
        ],
        "tags": [
          "xar_categories"
        ],
        "operationId": "delete_xar_categories",
        "description": "delete xar_categories",
        "responses": {
          "200": {
            "$ref": "#/components/responses/rows_affected"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/increment-xar_categories"
        },
        "tags": [
          "xar_categories"
        ],
        "operationId": "increment_xar_categories",
        "description": "increment xar_categories",
        "responses": {
          "200": {
            "$ref": "#/components/responses/rows_affected"
          }
        }
      }
    },
    "/records/xar_categories_basecategories": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/include"
          },
          {
            "$ref": "#/components/parameters/exclude"
          },
          {
            "$ref": "#/components/parameters/order"
          },
          {
            "$ref": "#/components/parameters/size"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/join"
          }
        ],
        "tags": [
          "xar_categories_basecategories"
        ],
        "operationId": "list_xar_categories_basecategories",
        "description": "list xar_categories_basecategories",
        "responses": {
          "200": {
            "$ref": "#/components/responses/list-xar_categories_basecategories"
          }
        }
      },
      "post": {
        "requestBody": {
          "$ref": "#/components/requestBodies/create-xar_categories_basecategories"
        },
        "tags": [
          "xar_categories_basecategories"
        ],
        "operationId": "create_xar_categories_basecategories",
        "description": "create xar_categories_basecategories",
        "responses": {
          "200": {
            "$ref": "#/components/responses/pk_integer"
          }
        }
      }
    },
    "/records/xar_categories_basecategories/{id}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          },
          {
            "$ref": "#/components/parameters/include"
          },
          {
            "$ref": "#/components/parameters/exclude"
          },
          {
            "$ref": "#/components/parameters/join"
          }
        ],
        "tags": [
          "xar_categories_basecategories"
        ],
        "operationId": "read_xar_categories_basecategories",
        "description": "read xar_categories_basecategories",
        "responses": {
          "200": {
            "$ref": "#/components/responses/read-xar_categories_basecategories"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/update-xar_categories_basecategories"
        },
        "tags": [
          "xar_categories_basecategories"
        ],
        "operationId": "update_xar_categories_basecategories",
        "description": "update xar_categories_basecategories",
        "responses": {
          "200": {
            "$ref": "#/components/responses/rows_affected"
          }
        }
      },
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          }
        ],
        "tags": [
          "xar_categories_basecategories"
        ],
        "operationId": "delete_xar_categories_basecategories",
        "description": "delete xar_categories_basecategories",
        "responses": {
          "200": {
            "$ref": "#/components/responses/rows_affected"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/increment-xar_categories_basecategories"
        },
        "tags": [
          "xar_categories_basecategories"
        ],
        "operationId": "increment_xar_categories_basecategories",
        "description": "increment xar_categories_basecategories",
        "responses": {
          "200": {
            "$ref": "#/components/responses/rows_affected"
          }
        }
      }
    },
    "/records/xar_categories_linkage": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/include"
          },
          {
            "$ref": "#/components/parameters/exclude"
          },
          {
            "$ref": "#/components/parameters/order"
          },
          {
            "$ref": "#/components/parameters/size"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/join"
          }
        ],
        "tags": [
          "xar_categories_linkage"
        ],
        "operationId": "list_xar_categories_linkage",
        "description": "list xar_categories_linkage",
        "responses": {
          "200": {
            "$ref": "#/components/responses/list-xar_categories_linkage"
          }
        }
      },
      "post": {
        "requestBody": {
          "$ref": "#/components/requestBodies/create-xar_categories_linkage"
        },
        "tags": [
          "xar_categories_linkage"
        ],
        "operationId": "create_xar_categories_linkage",
        "description": "create xar_categories_linkage",
        "responses": {
          "200": {
            "$ref": "#/components/responses/pk_integer"
          }
        }
      }
    },
    "/records/xar_categories_linkage/{id}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          },
          {
            "$ref": "#/components/parameters/include"
          },
          {
            "$ref": "#/components/parameters/exclude"
          },
          {
            "$ref": "#/components/parameters/join"
          }
        ],
        "tags": [
          "xar_categories_linkage"
        ],
        "operationId": "read_xar_categories_linkage",
        "description": "read xar_categories_linkage",
        "responses": {
          "200": {
            "$ref": "#/components/responses/read-xar_categories_linkage"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/update-xar_categories_linkage"
        },
        "tags": [
          "xar_categories_linkage"
        ],
        "operationId": "update_xar_categories_linkage",
        "description": "update xar_categories_linkage",
        "responses": {
          "200": {
            "$ref": "#/components/responses/rows_affected"
          }
        }
      },
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          }
        ],
        "tags": [
          "xar_categories_linkage"
        ],
        "operationId": "delete_xar_categories_linkage",
        "description": "delete xar_categories_linkage",
        "responses": {
          "200": {
            "$ref": "#/components/responses/rows_affected"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/increment-xar_categories_linkage"
        },
        "tags": [
          "xar_categories_linkage"
        ],
        "operationId": "increment_xar_categories_linkage",
        "description": "increment xar_categories_linkage",
        "responses": {
          "200": {
            "$ref": "#/components/responses/rows_affected"
          }
        }
      }
    },
    "/records/xar_dynamic_configurations": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/include"
          },
          {
            "$ref": "#/components/parameters/exclude"
          },
          {
            "$ref": "#/components/parameters/order"
          },
          {
            "$ref": "#/components/parameters/size"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/join"
          }
        ],
        "tags": [
          "xar_dynamic_configurations"
        ],
        "operationId": "list_xar_dynamic_configurations",
        "description": "list xar_dynamic_configurations",
        "responses": {
          "200": {
            "$ref": "#/components/responses/list-xar_dynamic_configurations"
          }
        }
      },
      "post": {
        "requestBody": {
          "$ref": "#/components/requestBodies/create-xar_dynamic_configurations"
        },
        "tags": [
          "xar_dynamic_configurations"
        ],
        "operationId": "create_xar_dynamic_configurations",
        "description": "create xar_dynamic_configurations",
        "responses": {
          "200": {
            "$ref": "#/components/responses/pk_integer"
          }
        }
      }
    },
    "/records/xar_dynamic_configurations/{id}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          },
          {
            "$ref": "#/components/parameters/include"
          },
          {
            "$ref": "#/components/parameters/exclude"
          },
          {
            "$ref": "#/components/parameters/join"
          }
        ],
        "tags": [
          "xar_dynamic_configurations"
        ],
        "operationId": "read_xar_dynamic_configurations",
        "description": "read xar_dynamic_configurations",
        "responses": {
          "200": {
            "$ref": "#/components/responses/read-xar_dynamic_configurations"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/update-xar_dynamic_configurations"
        },
        "tags": [
          "xar_dynamic_configurations"
        ],
        "operationId": "update_xar_dynamic_configurations",
        "description": "update xar_dynamic_configurations",
        "responses": {
          "200": {
            "$ref": "#/components/responses/rows_affected"
          }
        }
      },
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          }
        ],
        "tags": [
          "xar_dynamic_configurations"
        ],
        "operationId": "delete_xar_dynamic_configurations",
        "description": "delete xar_dynamic_configurations",
        "responses": {
          "200": {
            "$ref": "#/components/responses/rows_affected"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/increment-xar_dynamic_configurations"
        },
        "tags": [
          "xar_dynamic_configurations"
        ],
        "operationId": "increment_xar_dynamic_configurations",
        "description": "increment xar_dynamic_configurations",
        "responses": {
          "200": {
            "$ref": "#/components/responses/rows_affected"
          }
        }
      }
    },
    "/records/xar_dynamic_data": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/include"
          },
          {
            "$ref": "#/components/parameters/exclude"
          },
          {
            "$ref": "#/components/parameters/order"
          },
          {
            "$ref": "#/components/parameters/size"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/join"
          }
        ],
        "tags": [
          "xar_dynamic_data"
        ],
        "operationId": "list_xar_dynamic_data",
        "description": "list xar_dynamic_data",
        "responses": {
          "200": {
            "$ref": "#/components/responses/list-xar_dynamic_data"
          }
        }
      },
      "post": {
        "requestBody": {
          "$ref": "#/components/requestBodies/create-xar_dynamic_data"
        },
        "tags": [
          "xar_dynamic_data"
        ],
        "operationId": "create_xar_dynamic_data",
        "description": "create xar_dynamic_data",
        "responses": {
          "200": {
            "$ref": "#/components/responses/pk_integer"
          }
        }
      }
    },
    "/records/xar_dynamic_data/{id}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          },
          {
            "$ref": "#/components/parameters/include"
          },
          {
            "$ref": "#/components/parameters/exclude"
          },
          {
            "$ref": "#/components/parameters/join"
          }
        ],
        "tags": [
          "xar_dynamic_data"
        ],
        "operationId": "read_xar_dynamic_data",
        "description": "read xar_dynamic_data",
        "responses": {
          "200": {
            "$ref": "#/components/responses/read-xar_dynamic_data"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/update-xar_dynamic_data"
        },
        "tags": [
          "xar_dynamic_data"
        ],
        "operationId": "update_xar_dynamic_data",
        "description": "update xar_dynamic_data",
        "responses": {
          "200": {
            "$ref": "#/components/responses/rows_affected"
          }
        }
      },
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          }
        ],
        "tags": [
          "xar_dynamic_data"
        ],
        "operationId": "delete_xar_dynamic_data",
        "description": "delete xar_dynamic_data",
        "responses": {
          "200": {
            "$ref": "#/components/responses/rows_affected"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/increment-xar_dynamic_data"
        },
        "tags": [
          "xar_dynamic_data"
        ],
        "operationId": "increment_xar_dynamic_data",
        "description": "increment xar_dynamic_data",
        "responses": {
          "200": {
            "$ref": "#/components/responses/rows_affected"
          }
        }
      }
    },
    "/records/xar_dynamic_objects": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/include"
          },
          {
            "$ref": "#/components/parameters/exclude"
          },
          {
            "$ref": "#/components/parameters/order"
          },
          {
            "$ref": "#/components/parameters/size"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/join"
          }
        ],
        "tags": [
          "xar_dynamic_objects"
        ],
        "operationId": "list_xar_dynamic_objects",
        "description": "list xar_dynamic_objects",
        "responses": {
          "200": {
            "$ref": "#/components/responses/list-xar_dynamic_objects"
          }
        }
      },
      "post": {
        "requestBody": {
          "$ref": "#/components/requestBodies/create-xar_dynamic_objects"
        },
        "tags": [
          "xar_dynamic_objects"
        ],
        "operationId": "create_xar_dynamic_objects",
        "description": "create xar_dynamic_objects",
        "responses": {
          "200": {
            "$ref": "#/components/responses/pk_integer"
          }
        }
      }
    },
    "/records/xar_dynamic_objects/{id}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          },
          {
            "$ref": "#/components/parameters/include"
          },
          {
            "$ref": "#/components/parameters/exclude"
          },
          {
            "$ref": "#/components/parameters/join"
          }
        ],
        "tags": [
          "xar_dynamic_objects"
        ],
        "operationId": "read_xar_dynamic_objects",
        "description": "read xar_dynamic_objects",
        "responses": {
          "200": {
            "$ref": "#/components/responses/read-xar_dynamic_objects"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/update-xar_dynamic_objects"
        },
        "tags": [
          "xar_dynamic_objects"
        ],
        "operationId": "update_xar_dynamic_objects",
        "description": "update xar_dynamic_objects",
        "responses": {
          "200": {
            "$ref": "#/components/responses/rows_affected"
          }
        }
      },
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          }
        ],
        "tags": [
          "xar_dynamic_objects"
        ],
        "operationId": "delete_xar_dynamic_objects",
        "description": "delete xar_dynamic_objects",
        "responses": {
          "200": {
            "$ref": "#/components/responses/rows_affected"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/increment-xar_dynamic_objects"
        },
        "tags": [
          "xar_dynamic_objects"
        ],
        "operationId": "increment_xar_dynamic_objects",
        "description": "increment xar_dynamic_objects",
        "responses": {
          "200": {
            "$ref": "#/components/responses/rows_affected"
          }
        }
      }
    },
    "/records/xar_dynamic_properties": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/include"
          },
          {
            "$ref": "#/components/parameters/exclude"
          },
          {
            "$ref": "#/components/parameters/order"
          },
          {
            "$ref": "#/components/parameters/size"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/join"
          }
        ],
        "tags": [
          "xar_dynamic_properties"
        ],
        "operationId": "list_xar_dynamic_properties",
        "description": "list xar_dynamic_properties",
        "responses": {
          "200": {
            "$ref": "#/components/responses/list-xar_dynamic_properties"
          }
        }
      },
      "post": {
        "requestBody": {
          "$ref": "#/components/requestBodies/create-xar_dynamic_properties"
        },
        "tags": [
          "xar_dynamic_properties"
        ],
        "operationId": "create_xar_dynamic_properties",
        "description": "create xar_dynamic_properties",
        "responses": {
          "200": {
            "$ref": "#/components/responses/pk_integer"
          }
        }
      }
    },
    "/records/xar_dynamic_properties/{id}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          },
          {
            "$ref": "#/components/parameters/include"
          },
          {
            "$ref": "#/components/parameters/exclude"
          },
          {
            "$ref": "#/components/parameters/join"
          }
        ],
        "tags": [
          "xar_dynamic_properties"
        ],
        "operationId": "read_xar_dynamic_properties",
        "description": "read xar_dynamic_properties",
        "responses": {
          "200": {
            "$ref": "#/components/responses/read-xar_dynamic_properties"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/update-xar_dynamic_properties"
        },
        "tags": [
          "xar_dynamic_properties"
        ],
        "operationId": "update_xar_dynamic_properties",
        "description": "update xar_dynamic_properties",
        "responses": {
          "200": {
            "$ref": "#/components/responses/rows_affected"
          }
        }
      },
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          }
        ],
        "tags": [
          "xar_dynamic_properties"
        ],
        "operationId": "delete_xar_dynamic_properties",
        "description": "delete xar_dynamic_properties",
        "responses": {
          "200": {
            "$ref": "#/components/responses/rows_affected"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/increment-xar_dynamic_properties"
        },
        "tags": [
          "xar_dynamic_properties"
        ],
        "operationId": "increment_xar_dynamic_properties",
        "description": "increment xar_dynamic_properties",
        "responses": {
          "200": {
            "$ref": "#/components/responses/rows_affected"
          }
        }
      }
    },
    "/records/xar_dynamic_properties_def": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/include"
          },
          {
            "$ref": "#/components/parameters/exclude"
          },
          {
            "$ref": "#/components/parameters/order"
          },
          {
            "$ref": "#/components/parameters/size"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/join"
          }
        ],
        "tags": [
          "xar_dynamic_properties_def"
        ],
        "operationId": "list_xar_dynamic_properties_def",
        "description": "list xar_dynamic_properties_def",
        "responses": {
          "200": {
            "$ref": "#/components/responses/list-xar_dynamic_properties_def"
          }
        }
      },
      "post": {
        "requestBody": {
          "$ref": "#/components/requestBodies/create-xar_dynamic_properties_def"
        },
        "tags": [
          "xar_dynamic_properties_def"
        ],
        "operationId": "create_xar_dynamic_properties_def",
        "description": "create xar_dynamic_properties_def",
        "responses": {
          "200": {
            "$ref": "#/components/responses/pk_integer"
          }
        }
      }
    },
    "/records/xar_dynamic_properties_def/{id}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          },
          {
            "$ref": "#/components/parameters/include"
          },
          {
            "$ref": "#/components/parameters/exclude"
          },
          {
            "$ref": "#/components/parameters/join"
          }
        ],
        "tags": [
          "xar_dynamic_properties_def"
        ],
        "operationId": "read_xar_dynamic_properties_def",
        "description": "read xar_dynamic_properties_def",
        "responses": {
          "200": {
            "$ref": "#/components/responses/read-xar_dynamic_properties_def"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/update-xar_dynamic_properties_def"
        },
        "tags": [
          "xar_dynamic_properties_def"
        ],
        "operationId": "update_xar_dynamic_properties_def",
        "description": "update xar_dynamic_properties_def",
        "responses": {
          "200": {
            "$ref": "#/components/responses/rows_affected"
          }
        }
      },
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          }
        ],
        "tags": [
          "xar_dynamic_properties_def"
        ],
        "operationId": "delete_xar_dynamic_properties_def",
        "description": "delete xar_dynamic_properties_def",
        "responses": {
          "200": {
            "$ref": "#/components/responses/rows_affected"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/increment-xar_dynamic_properties_def"
        },
        "tags": [
          "xar_dynamic_properties_def"
        ],
        "operationId": "increment_xar_dynamic_properties_def",
        "description": "increment xar_dynamic_properties_def",
        "responses": {
          "200": {
            "$ref": "#/components/responses/rows_affected"
          }
        }
      }
    },
    "/records/xar_eventsystem": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/include"
          },
          {
            "$ref": "#/components/parameters/exclude"
          },
          {
            "$ref": "#/components/parameters/order"
          },
          {
            "$ref": "#/components/parameters/size"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/join"
          }
        ],
        "tags": [
          "xar_eventsystem"
        ],
        "operationId": "list_xar_eventsystem",
        "description": "list xar_eventsystem",
        "responses": {
          "200": {
            "$ref": "#/components/responses/list-xar_eventsystem"
          }
        }
      },
      "post": {
        "requestBody": {
          "$ref": "#/components/requestBodies/create-xar_eventsystem"
        },
        "tags": [
          "xar_eventsystem"
        ],
        "operationId": "create_xar_eventsystem",
        "description": "create xar_eventsystem",
        "responses": {
          "200": {
            "$ref": "#/components/responses/pk_integer"
          }
        }
      }
    },
    "/records/xar_eventsystem/{id}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          },
          {
            "$ref": "#/components/parameters/include"
          },
          {
            "$ref": "#/components/parameters/exclude"
          },
          {
            "$ref": "#/components/parameters/join"
          }
        ],
        "tags": [
          "xar_eventsystem"
        ],
        "operationId": "read_xar_eventsystem",
        "description": "read xar_eventsystem",
        "responses": {
          "200": {
            "$ref": "#/components/responses/read-xar_eventsystem"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/update-xar_eventsystem"
        },
        "tags": [
          "xar_eventsystem"
        ],
        "operationId": "update_xar_eventsystem",
        "description": "update xar_eventsystem",
        "responses": {
          "200": {
            "$ref": "#/components/responses/rows_affected"
          }
        }
      },
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          }
        ],
        "tags": [
          "xar_eventsystem"
        ],
        "operationId": "delete_xar_eventsystem",
        "description": "delete xar_eventsystem",
        "responses": {
          "200": {
            "$ref": "#/components/responses/rows_affected"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/increment-xar_eventsystem"
        },
        "tags": [
          "xar_eventsystem"
        ],
        "operationId": "increment_xar_eventsystem",
        "description": "increment xar_eventsystem",
        "responses": {
          "200": {
            "$ref": "#/components/responses/rows_affected"
          }
        }
      }
    },
    "/records/xar_hooks": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/include"
          },
          {
            "$ref": "#/components/parameters/exclude"
          },
          {
            "$ref": "#/components/parameters/order"
          },
          {
            "$ref": "#/components/parameters/size"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/join"
          }
        ],
        "tags": [
          "xar_hooks"
        ],
        "operationId": "list_xar_hooks",
        "description": "list xar_hooks",
        "responses": {
          "200": {
            "$ref": "#/components/responses/list-xar_hooks"
          }
        }
      }
    },
    "/records/xar_module_itemvars": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/include"
          },
          {
            "$ref": "#/components/parameters/exclude"
          },
          {
            "$ref": "#/components/parameters/order"
          },
          {
            "$ref": "#/components/parameters/size"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/join"
          }
        ],
        "tags": [
          "xar_module_itemvars"
        ],
        "operationId": "list_xar_module_itemvars",
        "description": "list xar_module_itemvars",
        "responses": {
          "200": {
            "$ref": "#/components/responses/list-xar_module_itemvars"
          }
        }
      }
    },
    "/records/xar_module_vars": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/include"
          },
          {
            "$ref": "#/components/parameters/exclude"
          },
          {
            "$ref": "#/components/parameters/order"
          },
          {
            "$ref": "#/components/parameters/size"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/join"
          }
        ],
        "tags": [
          "xar_module_vars"
        ],
        "operationId": "list_xar_module_vars",
        "description": "list xar_module_vars",
        "responses": {
          "200": {
            "$ref": "#/components/responses/list-xar_module_vars"
          }
        }
      },
      "post": {
        "requestBody": {
          "$ref": "#/components/requestBodies/create-xar_module_vars"
        },
        "tags": [
          "xar_module_vars"
        ],
        "operationId": "create_xar_module_vars",
        "description": "create xar_module_vars",
        "responses": {
          "200": {
            "$ref": "#/components/responses/pk_integer"
          }
        }
      }
    },
    "/records/xar_module_vars/{id}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          },
          {
            "$ref": "#/components/parameters/include"
          },
          {
            "$ref": "#/components/parameters/exclude"
          },
          {
            "$ref": "#/components/parameters/join"
          }
        ],
        "tags": [
          "xar_module_vars"
        ],
        "operationId": "read_xar_module_vars",
        "description": "read xar_module_vars",
        "responses": {
          "200": {
            "$ref": "#/components/responses/read-xar_module_vars"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/update-xar_module_vars"
        },
        "tags": [
          "xar_module_vars"
        ],
        "operationId": "update_xar_module_vars",
        "description": "update xar_module_vars",
        "responses": {
          "200": {
            "$ref": "#/components/responses/rows_affected"
          }
        }
      },
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          }
        ],
        "tags": [
          "xar_module_vars"
        ],
        "operationId": "delete_xar_module_vars",
        "description": "delete xar_module_vars",
        "responses": {
          "200": {
            "$ref": "#/components/responses/rows_affected"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/increment-xar_module_vars"
        },
        "tags": [
          "xar_module_vars"
        ],
        "operationId": "increment_xar_module_vars",
        "description": "increment xar_module_vars",
        "responses": {
          "200": {
            "$ref": "#/components/responses/rows_affected"
          }
        }
      }
    },
    "/records/xar_modules": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/include"
          },
          {
            "$ref": "#/components/parameters/exclude"
          },
          {
            "$ref": "#/components/parameters/order"
          },
          {
            "$ref": "#/components/parameters/size"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/join"
          }
        ],
        "tags": [
          "xar_modules"
        ],
        "operationId": "list_xar_modules",
        "description": "list xar_modules",
        "responses": {
          "200": {
            "$ref": "#/components/responses/list-xar_modules"
          }
        }
      },
      "post": {
        "requestBody": {
          "$ref": "#/components/requestBodies/create-xar_modules"
        },
        "tags": [
          "xar_modules"
        ],
        "operationId": "create_xar_modules",
        "description": "create xar_modules",
        "responses": {
          "200": {
            "$ref": "#/components/responses/pk_integer"
          }
        }
      }
    },
    "/records/xar_modules/{id}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          },
          {
            "$ref": "#/components/parameters/include"
          },
          {
            "$ref": "#/components/parameters/exclude"
          },
          {
            "$ref": "#/components/parameters/join"
          }
        ],
        "tags": [
          "xar_modules"
        ],
        "operationId": "read_xar_modules",
        "description": "read xar_modules",
        "responses": {
          "200": {
            "$ref": "#/components/responses/read-xar_modules"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/update-xar_modules"
        },
        "tags": [
          "xar_modules"
        ],
        "operationId": "update_xar_modules",
        "description": "update xar_modules",
        "responses": {
          "200": {
            "$ref": "#/components/responses/rows_affected"
          }
        }
      },
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          }
        ],
        "tags": [
          "xar_modules"
        ],
        "operationId": "delete_xar_modules",
        "description": "delete xar_modules",
        "responses": {
          "200": {
            "$ref": "#/components/responses/rows_affected"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/increment-xar_modules"
        },
        "tags": [
          "xar_modules"
        ],
        "operationId": "increment_xar_modules",
        "description": "increment xar_modules",
        "responses": {
          "200": {
            "$ref": "#/components/responses/rows_affected"
          }
        }
      }
    },
    "/records/xar_privileges": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/include"
          },
          {
            "$ref": "#/components/parameters/exclude"
          },
          {
            "$ref": "#/components/parameters/order"
          },
          {
            "$ref": "#/components/parameters/size"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/join"
          }
        ],
        "tags": [
          "xar_privileges"
        ],
        "operationId": "list_xar_privileges",
        "description": "list xar_privileges",
        "responses": {
          "200": {
            "$ref": "#/components/responses/list-xar_privileges"
          }
        }
      },
      "post": {
        "requestBody": {
          "$ref": "#/components/requestBodies/create-xar_privileges"
        },
        "tags": [
          "xar_privileges"
        ],
        "operationId": "create_xar_privileges",
        "description": "create xar_privileges",
        "responses": {
          "200": {
            "$ref": "#/components/responses/pk_integer"
          }
        }
      }
    },
    "/records/xar_privileges/{id}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          },
          {
            "$ref": "#/components/parameters/include"
          },
          {
            "$ref": "#/components/parameters/exclude"
          },
          {
            "$ref": "#/components/parameters/join"
          }
        ],
        "tags": [
          "xar_privileges"
        ],
        "operationId": "read_xar_privileges",
        "description": "read xar_privileges",
        "responses": {
          "200": {
            "$ref": "#/components/responses/read-xar_privileges"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/update-xar_privileges"
        },
        "tags": [
          "xar_privileges"
        ],
        "operationId": "update_xar_privileges",
        "description": "update xar_privileges",
        "responses": {
          "200": {
            "$ref": "#/components/responses/rows_affected"
          }
        }
      },
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          }
        ],
        "tags": [
          "xar_privileges"
        ],
        "operationId": "delete_xar_privileges",
        "description": "delete xar_privileges",
        "responses": {
          "200": {
            "$ref": "#/components/responses/rows_affected"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/increment-xar_privileges"
        },
        "tags": [
          "xar_privileges"
        ],
        "operationId": "increment_xar_privileges",
        "description": "increment xar_privileges",
        "responses": {
          "200": {
            "$ref": "#/components/responses/rows_affected"
          }
        }
      }
    },
    "/records/xar_privmembers": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/include"
          },
          {
            "$ref": "#/components/parameters/exclude"
          },
          {
            "$ref": "#/components/parameters/order"
          },
          {
            "$ref": "#/components/parameters/size"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/join"
          }
        ],
        "tags": [
          "xar_privmembers"
        ],
        "operationId": "list_xar_privmembers",
        "description": "list xar_privmembers",
        "responses": {
          "200": {
            "$ref": "#/components/responses/list-xar_privmembers"
          }
        }
      }
    },
    "/records/xar_rolemembers": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/include"
          },
          {
            "$ref": "#/components/parameters/exclude"
          },
          {
            "$ref": "#/components/parameters/order"
          },
          {
            "$ref": "#/components/parameters/size"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/join"
          }
        ],
        "tags": [
          "xar_rolemembers"
        ],
        "operationId": "list_xar_rolemembers",
        "description": "list xar_rolemembers",
        "responses": {
          "200": {
            "$ref": "#/components/responses/list-xar_rolemembers"
          }
        }
      }
    },
    "/records/xar_roles": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/include"
          },
          {
            "$ref": "#/components/parameters/exclude"
          },
          {
            "$ref": "#/components/parameters/order"
          },
          {
            "$ref": "#/components/parameters/size"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/join"
          }
        ],
        "tags": [
          "xar_roles"
        ],
        "operationId": "list_xar_roles",
        "description": "list xar_roles",
        "responses": {
          "200": {
            "$ref": "#/components/responses/list-xar_roles"
          }
        }
      },
      "post": {
        "requestBody": {
          "$ref": "#/components/requestBodies/create-xar_roles"
        },
        "tags": [
          "xar_roles"
        ],
        "operationId": "create_xar_roles",
        "description": "create xar_roles",
        "responses": {
          "200": {
            "$ref": "#/components/responses/pk_integer"
          }
        }
      }
    },
    "/records/xar_roles/{id}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          },
          {
            "$ref": "#/components/parameters/include"
          },
          {
            "$ref": "#/components/parameters/exclude"
          },
          {
            "$ref": "#/components/parameters/join"
          }
        ],
        "tags": [
          "xar_roles"
        ],
        "operationId": "read_xar_roles",
        "description": "read xar_roles",
        "responses": {
          "200": {
            "$ref": "#/components/responses/read-xar_roles"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/update-xar_roles"
        },
        "tags": [
          "xar_roles"
        ],
        "operationId": "update_xar_roles",
        "description": "update xar_roles",
        "responses": {
          "200": {
            "$ref": "#/components/responses/rows_affected"
          }
        }
      },
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          }
        ],
        "tags": [
          "xar_roles"
        ],
        "operationId": "delete_xar_roles",
        "description": "delete xar_roles",
        "responses": {
          "200": {
            "$ref": "#/components/responses/rows_affected"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/increment-xar_roles"
        },
        "tags": [
          "xar_roles"
        ],
        "operationId": "increment_xar_roles",
        "description": "increment xar_roles",
        "responses": {
          "200": {
            "$ref": "#/components/responses/rows_affected"
          }
        }
      }
    },
    "/records/xar_security_acl": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/include"
          },
          {
            "$ref": "#/components/parameters/exclude"
          },
          {
            "$ref": "#/components/parameters/order"
          },
          {
            "$ref": "#/components/parameters/size"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/join"
          }
        ],
        "tags": [
          "xar_security_acl"
        ],
        "operationId": "list_xar_security_acl",
        "description": "list xar_security_acl",
        "responses": {
          "200": {
            "$ref": "#/components/responses/list-xar_security_acl"
          }
        }
      }
    },
    "/records/xar_security_instances": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/include"
          },
          {
            "$ref": "#/components/parameters/exclude"
          },
          {
            "$ref": "#/components/parameters/order"
          },
          {
            "$ref": "#/components/parameters/size"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/join"
          }
        ],
        "tags": [
          "xar_security_instances"
        ],
        "operationId": "list_xar_security_instances",
        "description": "list xar_security_instances",
        "responses": {
          "200": {
            "$ref": "#/components/responses/list-xar_security_instances"
          }
        }
      },
      "post": {
        "requestBody": {
          "$ref": "#/components/requestBodies/create-xar_security_instances"
        },
        "tags": [
          "xar_security_instances"
        ],
        "operationId": "create_xar_security_instances",
        "description": "create xar_security_instances",
        "responses": {
          "200": {
            "$ref": "#/components/responses/pk_integer"
          }
        }
      }
    },
    "/records/xar_security_instances/{id}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          },
          {
            "$ref": "#/components/parameters/include"
          },
          {
            "$ref": "#/components/parameters/exclude"
          },
          {
            "$ref": "#/components/parameters/join"
          }
        ],
        "tags": [
          "xar_security_instances"
        ],
        "operationId": "read_xar_security_instances",
        "description": "read xar_security_instances",
        "responses": {
          "200": {
            "$ref": "#/components/responses/read-xar_security_instances"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/update-xar_security_instances"
        },
        "tags": [
          "xar_security_instances"
        ],
        "operationId": "update_xar_security_instances",
        "description": "update xar_security_instances",
        "responses": {
          "200": {
            "$ref": "#/components/responses/rows_affected"
          }
        }
      },
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          }
        ],
        "tags": [
          "xar_security_instances"
        ],
        "operationId": "delete_xar_security_instances",
        "description": "delete xar_security_instances",
        "responses": {
          "200": {
            "$ref": "#/components/responses/rows_affected"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/increment-xar_security_instances"
        },
        "tags": [
          "xar_security_instances"
        ],
        "operationId": "increment_xar_security_instances",
        "description": "increment xar_security_instances",
        "responses": {
          "200": {
            "$ref": "#/components/responses/rows_affected"
          }
        }
      }
    },
    "/records/xar_security_realms": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/include"
          },
          {
            "$ref": "#/components/parameters/exclude"
          },
          {
            "$ref": "#/components/parameters/order"
          },
          {
            "$ref": "#/components/parameters/size"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/join"
          }
        ],
        "tags": [
          "xar_security_realms"
        ],
        "operationId": "list_xar_security_realms",
        "description": "list xar_security_realms",
        "responses": {
          "200": {
            "$ref": "#/components/responses/list-xar_security_realms"
          }
        }
      },
      "post": {
        "requestBody": {
          "$ref": "#/components/requestBodies/create-xar_security_realms"
        },
        "tags": [
          "xar_security_realms"
        ],
        "operationId": "create_xar_security_realms",
        "description": "create xar_security_realms",
        "responses": {
          "200": {
            "$ref": "#/components/responses/pk_integer"
          }
        }
      }
    },
    "/records/xar_security_realms/{id}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          },
          {
            "$ref": "#/components/parameters/include"
          },
          {
            "$ref": "#/components/parameters/exclude"
          },
          {
            "$ref": "#/components/parameters/join"
          }
        ],
        "tags": [
          "xar_security_realms"
        ],
        "operationId": "read_xar_security_realms",
        "description": "read xar_security_realms",
        "responses": {
          "200": {
            "$ref": "#/components/responses/read-xar_security_realms"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/update-xar_security_realms"
        },
        "tags": [
          "xar_security_realms"
        ],
        "operationId": "update_xar_security_realms",
        "description": "update xar_security_realms",
        "responses": {
          "200": {
            "$ref": "#/components/responses/rows_affected"
          }
        }
      },
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          }
        ],
        "tags": [
          "xar_security_realms"
        ],
        "operationId": "delete_xar_security_realms",
        "description": "delete xar_security_realms",
        "responses": {
          "200": {
            "$ref": "#/components/responses/rows_affected"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/increment-xar_security_realms"
        },
        "tags": [
          "xar_security_realms"
        ],
        "operationId": "increment_xar_security_realms",
        "description": "increment xar_security_realms",
        "responses": {
          "200": {
            "$ref": "#/components/responses/rows_affected"
          }
        }
      }
    },
    "/records/xar_session_info": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/include"
          },
          {
            "$ref": "#/components/parameters/exclude"
          },
          {
            "$ref": "#/components/parameters/order"
          },
          {
            "$ref": "#/components/parameters/size"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/join"
          }
        ],
        "tags": [
          "xar_session_info"
        ],
        "operationId": "list_xar_session_info",
        "description": "list xar_session_info",
        "responses": {
          "200": {
            "$ref": "#/components/responses/list-xar_session_info"
          }
        }
      },
      "post": {
        "requestBody": {
          "$ref": "#/components/requestBodies/create-xar_session_info"
        },
        "tags": [
          "xar_session_info"
        ],
        "operationId": "create_xar_session_info",
        "description": "create xar_session_info",
        "responses": {
          "200": {
            "$ref": "#/components/responses/pk_string"
          }
        }
      }
    },
    "/records/xar_session_info/{id}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          },
          {
            "$ref": "#/components/parameters/include"
          },
          {
            "$ref": "#/components/parameters/exclude"
          },
          {
            "$ref": "#/components/parameters/join"
          }
        ],
        "tags": [
          "xar_session_info"
        ],
        "operationId": "read_xar_session_info",
        "description": "read xar_session_info",
        "responses": {
          "200": {
            "$ref": "#/components/responses/read-xar_session_info"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/update-xar_session_info"
        },
        "tags": [
          "xar_session_info"
        ],
        "operationId": "update_xar_session_info",
        "description": "update xar_session_info",
        "responses": {
          "200": {
            "$ref": "#/components/responses/rows_affected"
          }
        }
      },
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          }
        ],
        "tags": [
          "xar_session_info"
        ],
        "operationId": "delete_xar_session_info",
        "description": "delete xar_session_info",
        "responses": {
          "200": {
            "$ref": "#/components/responses/rows_affected"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/increment-xar_session_info"
        },
        "tags": [
          "xar_session_info"
        ],
        "operationId": "increment_xar_session_info",
        "description": "increment xar_session_info",
        "responses": {
          "200": {
            "$ref": "#/components/responses/rows_affected"
          }
        }
      }
    },
    "/records/xar_themes": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/include"
          },
          {
            "$ref": "#/components/parameters/exclude"
          },
          {
            "$ref": "#/components/parameters/order"
          },
          {
            "$ref": "#/components/parameters/size"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/join"
          }
        ],
        "tags": [
          "xar_themes"
        ],
        "operationId": "list_xar_themes",
        "description": "list xar_themes",
        "responses": {
          "200": {
            "$ref": "#/components/responses/list-xar_themes"
          }
        }
      },
      "post": {
        "requestBody": {
          "$ref": "#/components/requestBodies/create-xar_themes"
        },
        "tags": [
          "xar_themes"
        ],
        "operationId": "create_xar_themes",
        "description": "create xar_themes",
        "responses": {
          "200": {
            "$ref": "#/components/responses/pk_integer"
          }
        }
      }
    },
    "/records/xar_themes/{id}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          },
          {
            "$ref": "#/components/parameters/include"
          },
          {
            "$ref": "#/components/parameters/exclude"
          },
          {
            "$ref": "#/components/parameters/join"
          }
        ],
        "tags": [
          "xar_themes"
        ],
        "operationId": "read_xar_themes",
        "description": "read xar_themes",
        "responses": {
          "200": {
            "$ref": "#/components/responses/read-xar_themes"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/update-xar_themes"
        },
        "tags": [
          "xar_themes"
        ],
        "operationId": "update_xar_themes",
        "description": "update xar_themes",
        "responses": {
          "200": {
            "$ref": "#/components/responses/rows_affected"
          }
        }
      },
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          }
        ],
        "tags": [
          "xar_themes"
        ],
        "operationId": "delete_xar_themes",
        "description": "delete xar_themes",
        "responses": {
          "200": {
            "$ref": "#/components/responses/rows_affected"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/increment-xar_themes"
        },
        "tags": [
          "xar_themes"
        ],
        "operationId": "increment_xar_themes",
        "description": "increment xar_themes",
        "responses": {
          "200": {
            "$ref": "#/components/responses/rows_affected"
          }
        }
      }
    },
    "/records/xar_themes_configurations": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/include"
          },
          {
            "$ref": "#/components/parameters/exclude"
          },
          {
            "$ref": "#/components/parameters/order"
          },
          {
            "$ref": "#/components/parameters/size"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/join"
          }
        ],
        "tags": [
          "xar_themes_configurations"
        ],
        "operationId": "list_xar_themes_configurations",
        "description": "list xar_themes_configurations",
        "responses": {
          "200": {
            "$ref": "#/components/responses/list-xar_themes_configurations"
          }
        }
      },
      "post": {
        "requestBody": {
          "$ref": "#/components/requestBodies/create-xar_themes_configurations"
        },
        "tags": [
          "xar_themes_configurations"
        ],
        "operationId": "create_xar_themes_configurations",
        "description": "create xar_themes_configurations",
        "responses": {
          "200": {
            "$ref": "#/components/responses/pk_integer"
          }
        }
      }
    },
    "/records/xar_themes_configurations/{id}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          },
          {
            "$ref": "#/components/parameters/include"
          },
          {
            "$ref": "#/components/parameters/exclude"
          },
          {
            "$ref": "#/components/parameters/join"
          }
        ],
        "tags": [
          "xar_themes_configurations"
        ],
        "operationId": "read_xar_themes_configurations",
        "description": "read xar_themes_configurations",
        "responses": {
          "200": {
            "$ref": "#/components/responses/read-xar_themes_configurations"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/update-xar_themes_configurations"
        },
        "tags": [
          "xar_themes_configurations"
        ],
        "operationId": "update_xar_themes_configurations",
        "description": "update xar_themes_configurations",
        "responses": {
          "200": {
            "$ref": "#/components/responses/rows_affected"
          }
        }
      },
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          }
        ],
        "tags": [
          "xar_themes_configurations"
        ],
        "operationId": "delete_xar_themes_configurations",
        "description": "delete xar_themes_configurations",
        "responses": {
          "200": {
            "$ref": "#/components/responses/rows_affected"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pk"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/increment-xar_themes_configurations"
        },
        "tags": [
          "xar_themes_configurations"
        ],
        "operationId": "increment_xar_themes_configurations",
        "description": "increment xar_themes_configurations",
        "responses": {
          "200": {
            "$ref": "#/components/responses/rows_affected"
          }
        }
      }
    },
    "/columns": {
      "get": {
        "tags": [
          "database"
        ],
        "operationId": "read_database",
        "description": "read database",
        "responses": {
          "200": {
            "$ref": "#/components/responses/readDatabase"
          }
        }
      },
      "post": {
        "requestBody": {
          "$ref": "#/components/requestBodies/createTable"
        },
        "tags": [
          "table"
        ],
        "operationId": "create_table",
        "description": "create table",
        "responses": {
          "200": {
            "$ref": "#/components/responses/boolSuccess"
          }
        }
      }
    },
    "/columns/{table}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/table"
          }
        ],
        "tags": [
          "table"
        ],
        "operationId": "read_table",
        "description": "read table",
        "responses": {
          "200": {
            "$ref": "#/components/responses/readTable"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/table"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/updateTable"
        },
        "tags": [
          "table"
        ],
        "operationId": "update_table",
        "description": "rename table",
        "responses": {
          "200": {
            "$ref": "#/components/responses/boolSuccess"
          }
        }
      },
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/table"
          }
        ],
        "tags": [
          "table"
        ],
        "operationId": "delete_table",
        "description": "delete table",
        "responses": {
          "200": {
            "$ref": "#/components/responses/boolSuccess"
          }
        }
      },
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/table"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/createColumn"
        },
        "tags": [
          "column"
        ],
        "operationId": "create_column",
        "description": "create column",
        "responses": {
          "200": {
            "$ref": "#/components/responses/boolSuccess"
          }
        }
      }
    },
    "/columns/{table}/{column}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/table"
          },
          {
            "$ref": "#/components/parameters/column"
          }
        ],
        "tags": [
          "column"
        ],
        "operationId": "read_column",
        "description": "read column",
        "responses": {
          "200": {
            "$ref": "#/components/responses/readColumn"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/table"
          },
          {
            "$ref": "#/components/parameters/column"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/updateColumn"
        },
        "tags": [
          "column"
        ],
        "operationId": "update_column",
        "description": "update column",
        "responses": {
          "200": {
            "$ref": "#/components/responses/boolSuccess"
          }
        }
      },
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/table"
          },
          {
            "$ref": "#/components/parameters/column"
          }
        ],
        "tags": [
          "column"
        ],
        "operationId": "delete_column",
        "description": "delete column",
        "responses": {
          "200": {
            "$ref": "#/components/responses/boolSuccess"
          }
        }
      }
    }
  },
  "components": {
    "responses": {
      "pk_integer": {
        "description": "inserted primary key value (integer)",
        "content": {
          "application/json": {
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        }
      },
      "pk_string": {
        "description": "inserted primary key value (string)",
        "content": {
          "application/json": {
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        }
      },
      "rows_affected": {
        "description": "number of rows affected (integer)",
        "content": {
          "application/json": {
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        }
      },
      "list-xar_block_instances": {
        "description": "list of xar_block_instances records",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/list-xar_block_instances"
            }
          }
        }
      },
      "read-xar_block_instances": {
        "description": "single xar_block_instances record",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/read-xar_block_instances"
            }
          }
        }
      },
      "list-xar_block_types": {
        "description": "list of xar_block_types records",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/list-xar_block_types"
            }
          }
        }
      },
      "read-xar_block_types": {
        "description": "single xar_block_types record",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/read-xar_block_types"
            }
          }
        }
      },
      "list-xar_cache_data": {
        "description": "list of xar_cache_data records",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/list-xar_cache_data"
            }
          }
        }
      },
      "read-xar_cache_data": {
        "description": "single xar_cache_data record",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/read-xar_cache_data"
            }
          }
        }
      },
      "list-xar_categories": {
        "description": "list of xar_categories records",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/list-xar_categories"
            }
          }
        }
      },
      "read-xar_categories": {
        "description": "single xar_categories record",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/read-xar_categories"
            }
          }
        }
      },
      "list-xar_categories_basecategories": {
        "description": "list of xar_categories_basecategories records",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/list-xar_categories_basecategories"
            }
          }
        }
      },
      "read-xar_categories_basecategories": {
        "description": "single xar_categories_basecategories record",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/read-xar_categories_basecategories"
            }
          }
        }
      },
      "list-xar_categories_linkage": {
        "description": "list of xar_categories_linkage records",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/list-xar_categories_linkage"
            }
          }
        }
      },
      "read-xar_categories_linkage": {
        "description": "single xar_categories_linkage record",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/read-xar_categories_linkage"
            }
          }
        }
      },
      "list-xar_dynamic_configurations": {
        "description": "list of xar_dynamic_configurations records",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/list-xar_dynamic_configurations"
            }
          }
        }
      },
      "read-xar_dynamic_configurations": {
        "description": "single xar_dynamic_configurations record",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/read-xar_dynamic_configurations"
            }
          }
        }
      },
      "list-xar_dynamic_data": {
        "description": "list of xar_dynamic_data records",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/list-xar_dynamic_data"
            }
          }
        }
      },
      "read-xar_dynamic_data": {
        "description": "single xar_dynamic_data record",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/read-xar_dynamic_data"
            }
          }
        }
      },
      "list-xar_dynamic_objects": {
        "description": "list of xar_dynamic_objects records",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/list-xar_dynamic_objects"
            }
          }
        }
      },
      "read-xar_dynamic_objects": {
        "description": "single xar_dynamic_objects record",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/read-xar_dynamic_objects"
            }
          }
        }
      },
      "list-xar_dynamic_properties": {
        "description": "list of xar_dynamic_properties records",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/list-xar_dynamic_properties"
            }
          }
        }
      },
      "read-xar_dynamic_properties": {
        "description": "single xar_dynamic_properties record",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/read-xar_dynamic_properties"
            }
          }
        }
      },
      "list-xar_dynamic_properties_def": {
        "description": "list of xar_dynamic_properties_def records",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/list-xar_dynamic_properties_def"
            }
          }
        }
      },
      "read-xar_dynamic_properties_def": {
        "description": "single xar_dynamic_properties_def record",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/read-xar_dynamic_properties_def"
            }
          }
        }
      },
      "list-xar_eventsystem": {
        "description": "list of xar_eventsystem records",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/list-xar_eventsystem"
            }
          }
        }
      },
      "read-xar_eventsystem": {
        "description": "single xar_eventsystem record",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/read-xar_eventsystem"
            }
          }
        }
      },
      "list-xar_hooks": {
        "description": "list of xar_hooks records",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/list-xar_hooks"
            }
          }
        }
      },
      "list-xar_module_itemvars": {
        "description": "list of xar_module_itemvars records",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/list-xar_module_itemvars"
            }
          }
        }
      },
      "list-xar_module_vars": {
        "description": "list of xar_module_vars records",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/list-xar_module_vars"
            }
          }
        }
      },
      "read-xar_module_vars": {
        "description": "single xar_module_vars record",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/read-xar_module_vars"
            }
          }
        }
      },
      "list-xar_modules": {
        "description": "list of xar_modules records",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/list-xar_modules"
            }
          }
        }
      },
      "read-xar_modules": {
        "description": "single xar_modules record",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/read-xar_modules"
            }
          }
        }
      },
      "list-xar_privileges": {
        "description": "list of xar_privileges records",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/list-xar_privileges"
            }
          }
        }
      },
      "read-xar_privileges": {
        "description": "single xar_privileges record",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/read-xar_privileges"
            }
          }
        }
      },
      "list-xar_privmembers": {
        "description": "list of xar_privmembers records",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/list-xar_privmembers"
            }
          }
        }
      },
      "list-xar_rolemembers": {
        "description": "list of xar_rolemembers records",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/list-xar_rolemembers"
            }
          }
        }
      },
      "list-xar_roles": {
        "description": "list of xar_roles records",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/list-xar_roles"
            }
          }
        }
      },
      "read-xar_roles": {
        "description": "single xar_roles record",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/read-xar_roles"
            }
          }
        }
      },
      "list-xar_security_acl": {
        "description": "list of xar_security_acl records",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/list-xar_security_acl"
            }
          }
        }
      },
      "list-xar_security_instances": {
        "description": "list of xar_security_instances records",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/list-xar_security_instances"
            }
          }
        }
      },
      "read-xar_security_instances": {
        "description": "single xar_security_instances record",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/read-xar_security_instances"
            }
          }
        }
      },
      "list-xar_security_realms": {
        "description": "list of xar_security_realms records",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/list-xar_security_realms"
            }
          }
        }
      },
      "read-xar_security_realms": {
        "description": "single xar_security_realms record",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/read-xar_security_realms"
            }
          }
        }
      },
      "list-xar_session_info": {
        "description": "list of xar_session_info records",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/list-xar_session_info"
            }
          }
        }
      },
      "read-xar_session_info": {
        "description": "single xar_session_info record",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/read-xar_session_info"
            }
          }
        }
      },
      "list-xar_themes": {
        "description": "list of xar_themes records",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/list-xar_themes"
            }
          }
        }
      },
      "read-xar_themes": {
        "description": "single xar_themes record",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/read-xar_themes"
            }
          }
        }
      },
      "list-xar_themes_configurations": {
        "description": "list of xar_themes_configurations records",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/list-xar_themes_configurations"
            }
          }
        }
      },
      "read-xar_themes_configurations": {
        "description": "single xar_themes_configurations record",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/read-xar_themes_configurations"
            }
          }
        }
      },
      "boolSuccess": {
        "description": "boolean indicating success or failure",
        "content": {
          "application/json": {
            "schema": {
              "type": "boolean"
            }
          }
        }
      },
      "readDatabase": {
        "description": "single database record",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/readDatabase"
            }
          }
        }
      },
      "readTable": {
        "description": "single table record",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/readTable"
            }
          }
        }
      },
      "readColumn": {
        "description": "single column record",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/readColumn"
            }
          }
        }
      }
    },
    "schemas": {
      "list-xar_block_instances": {
        "type": "object",
        "properties": {
          "results": {
            "type": "integer",
            "format": "int64"
          },
          "records": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "pattern": "^-?[0-9]{1,10}$",
                  "x-primary-key": true,
                  "x-referenced": []
                },
                "type_id": {
                  "type": "integer",
                  "format": "int32",
                  "pattern": "^-?[0-9]{1,10}$"
                },
                "name": {
                  "type": "string",
                  "maxLength": 64,
                  "pattern": "^.{0,64}$"
                },
                "title": {
                  "type": "string",
                  "maxLength": 255,
                  "nullable": true,
                  "pattern": "^.{0,255}$"
                },
                "content": {
                  "type": "string",
                  "format": "large-string",
                  "nullable": true,
                  "pattern": "^.*$"
                },
                "state": {
                  "type": "integer",
                  "format": "int32",
                  "pattern": "^-?[0-9]{1,10}$"
                }
              }
[...]
